@font-face {
    font-family: Roboto-Bold; 
    src: url(/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Light; 
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Black; 
    src: url(/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-Regular; 
    src: url(/fonts/Roboto-Regular.ttf);
}
body{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px  auto;
    max-width: 1366px;
    outline: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
a:hover{
    color: tomato;
}
th{
    padding: 19px 0;
    background-color: #a3cc40;
    font-size: 30px;
    font-family: "Roboto-Black";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center; 
}
tr:nth-child(odd){
    background-color: #373737;
}
tr:nth-child(even){
    background-color: #4b4d4f;
}
tr:nth-child(3){
    background-color: #6c6c6c;
}
td{
    font-size: 22px;
    font-family: "Roboto-Regular";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    padding: 25px 0;
}
.head{
    background: grey;
}
.head__nav{
    display: inline-block;
}
.advantages__main{
    max-width: 1030px;
    margin: 0 auto;
    padding-bottom: 130px;
}
.advantages__block{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;    
}
.advantages__head h2 {
    margin:0;
    padding: 0 0 126px 170px;
    font-size: 50px;
    font-family: "Roboto-Bold";
    color: rgb(37, 37, 37);
    line-height: 1.2;
    text-align: left;
  }
.advantages__image{
   
    padding-bottom: 46px;  
}
.advantages__subtitle h3{
    margin: 0px;
    font-size: 35px;
    font-family: "Roboto-Black";
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 24px;  
}
.advantages__text p{
    margin: 0px;
    font-family: "Roboto-Light";
    font-size: 14px;
    line-height: 1.2;
    color: rgb(36, 36, 36);
    text-align: center;  
}
.booking__header>h2{
    text-align: center;
    padding-bottom:80px;
    font-size: 50px;
    font-family: "Roboto-Bold";
    color: rgb(37, 37, 37);
    line-height: 1.2;
    margin: 0;   
}
.container{
    max-width: 1030px;
    margin: 0 auto;
}
.table{
    border-collapse: collapse; 
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    color:#ffffff;
    margin-bottom:40px;   
}
.table__item{
    content: "▼"  
}
.table__item::after{
    content: "▼"
}
.table__cell{
width: 250px;
}
.table__mid{
width: 350px;
}
.table__icon{
    background: url(../images/More-icon.png) no-repeat  center;
    background-size: 33px;
    width: 100px;
}
.italic{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-family: "Roboto-Light";
    color: rgb(36, 36, 36);
    line-height: 1.2;     
}