/* Общие стили */
*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    text-decoration: none;
}
*:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    padding: 0px;
    margin: 0px  auto;
    outline: 0;
    text-decoration: none;
}
li{
    display: inline;
    padding-left: 25px;
}
a{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
a:hover{
    color: #90d23d;
    cursor:pointer;
}
h1{
    font-size: 80px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-top: 150px;
          
}
h2{
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.2; 
}
th{
    padding: 19px 0;
    background-color: #a3cc40;
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center; 
}
tr:nth-child(odd){
    background-color: #373737;
}
tr:nth-child(even){
    background-color: #4b4d4f;
}
td{
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    padding: 25px 0;
}
/* Шапка сайта, с логотипом,навигацией и блоком "Добро пожаловать */
.head{
    background: url(../images/background_head.png) center  no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
    /* height: calc(100vh + 10.5rem);
    padding-top: 2.5rem;
    margin-bottom: 3.9rem; */
    /* position: relative; */
}
.head__container{
    max-width: 1030px;
    margin: 0 auto;
}
.head__logo{
    display: inline-block;
    width: 20%;
    padding-top: 55px;
    text-align: center;
}
.head__navigation{
    display: inline-block;
    width: 60%;
    text-align: center;
    padding-top: 55px;
    font-size: 15px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2; 
}
.head__city{
    display: inline-block;
    width: 19%;
    text-align: center;
    padding-top: 55px;
    font-size: 15px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    
}
.head__list{
    color: white;
}
.head__subtitle{
    font-size: 50px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}
.head__desc{
    border: 1px solid #dbdada;
    height: 267px;
    width: 515px;
    display: block;
    margin-left: 682px;
    margin-top: -130px;
    background-color: white;
    padding: 10px;
}
.head__slogan{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(37, 37, 37);
    line-height: 1.2;
    padding-left: 23px;
    padding-bottom:33px;
}
.head__text{
    font-size: 14px;
    font-weight: 300;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 30px;
    text-align: left;  
}
/* Блок "Почему Мы" с 3 картинками */
.advantages__main{
    max-width: 1030px;
    margin: 0 auto;
    padding-bottom: 130px;
}
.advantages__block{
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;    
}
.advantages__head{
    margin-top: -60px;
}
.advantages__head h2 {
    
    padding: 0 0 126px 170px;
    color: rgb(37, 37, 37);
    line-height: 1.2;
    text-align: left;
  }
.advantages__image{
    margin-bottom: 46px; 
    height: 211px;
}
img[title="Удобные кресла"]{
    padding-top: 23px;
}
.advantages__subtitle h3{
    margin: 0px;
    font-size: 35px;
    font-weight: 900;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 24px;  
}
.advantages__text p{
    margin: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: rgb(36, 36, 36);
    text-align: center;  
}
/* Блок с таблицой */
.booking{
    margin-bottom: 78px;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
}
.booking__header>h2{
    text-align: center;
    padding-bottom:80px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(37, 37, 37);
    line-height: 1.2;
    margin: 0;   
}
.table{
    border-collapse: collapse; 
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    color:#ffffff;
    margin-bottom:40px;   
}
.table__item{
    content: "▼"  
}
.table__item::after{
    content: "▼"
}
.table__cell{
    width: 250px;
}
.table__mid{
    width: 350px;
    text-align: left;
}
.table__text{
    text-align: left;
}
 .table__icon{ /*кнопки плюсики */
    background: url(../images/More-icon.png) no-repeat  center;
    background-size: 33px;
    width: 100px;
}
.italic{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: rgb(36, 36, 36);
    line-height: 1.2;     
}
/* Блок с зеленой кнопкой и подарком */
.action{
    background: url(../images/background_action.png);
    width: 100%;
    height: 700px;
    }
.action__box{
    margin-top: -50px;
}    
.action__container{
    max-width: 1030px;
    margin: 0 auto;
}


/* Каталог фильмов */

/*  Карта расположения  */
.maps{
    background-color: grey;
    height: 450px;
}

/* Подвал сайта */



/* Медиа плавила(медиа-запросы) */